*{
    padding-left: 0;
    margin: 0;
    font-family: "Fira Sans", serif; 
    box-sizing: border-box ;
}
button{
    cursor: pointer;
}
body{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
/* Universal-Class */
.flex{
    display: flex;
    /* justify-content: center; */
}
.btn{
    height:50px;
    width: 100px;
    border-radius: 10px;
    color: white;
    border: none;
}
.God-div{
    padding:20px 9vw;
}
.school-logo h3{
    font-size: 35px;
    letter-spacing: 2px;
}
.school-logo h3 span{
    font-size: 50px;
    color: #F0AA00;
}
/* nav-section */
.contact{
    background-color: orange;
}
nav{
    justify-content: space-between;
   margin-bottom: 5vh;
 
}
.school-logo{
    align-items: center;
}
nav ul{
    gap: 3vw;
    align-items: center;

}
nav ul li {
    text-decoration: none;
    list-style: none;
}

.list1{
    color:orange ;
}
.list2{
    color:skyblue ;
}
.list3{
    color: #05D4DF;
}
.list4{
    color: #5D58EF;
}
.menu-logo{
    display: none;
}

.scrolling-cotainer{
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 10px;
    margin-bottom: 20px;
}
.scrolling-cotainer span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100px;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #01ACFD;
}
/* Hero-section */
.hero-section{
    gap: 30px;
    /* height: 60vh; */
    justify-content: space-between;
    /* border: 2px solid red; */
}
.enrol{
    background-color: orange;
}
.hero-left-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    line-height: 30px;
    justify-content: center;
    /* padding: 3vw; */
}
.hero-left-div p{
    margin:1.3vw 0px;
    width: 450px;
    font-size: 20px;
}
.hero-right-div{
    width: 40%;
}
.hero-left-div h2{
    font-size: 3.5vw;
    line-height: 3.5vw;
}
.hero-right-div img{
    width: 100%;
    height: 100%;
}
.Empowering{
    color: orange;
}
.towards{
    color: skyblue;
}

/* standard-Curriculum */
.standard-Curriculum{
    gap: 4vw;
    justify-content: center;
    align-items: center;
 
}
.standard-Curriculum >div{
   
    /* border: 2px solid red; */
    border-radius: 20px;
}
.card1,.card2,.card3{
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 60px 30px;
}
.card1{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card1 button{
    background: transparent;
    border: none;
    color:#64C8FF ;
    font-size: 18px;
}
.card2{
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.standard-Curriculum .card2 button{
    background: transparent;
    color:#F0AA00 ;
    font-size: 18px;
    border: none;
}
.card3{
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card3 button{
    background: transparent;
    border: none;
    font-size: 18px;
    color:#8700FF ;
}
.satnderd-and-stories{
    margin: 30px 0px;
    padding: 100px 0px 10px 0px;
    background:url(../assets/bg.png);
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    background-position: center; */
}
.satnderd-and-stories h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.stories-card{
    display: grid;
    grid-template-columns: 40% repeat(2,1fr);
    grid-template-rows: repeat(2,1fr) ;
    gap: 20px;
   
    background:url(../assets/bg.png);

}

.stories-card>div{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    gap: 10px;
    position: relative;
}
.stories-card>div h2,p {
    margin: 10px 10px;
}
.stories-card>div .btn2, .btn3 ,.btn4,.btn5{
    position: relative;
    background-color: #5D58EF;
    width: 150px;
    height: 50px;
    top: -8%;
    left: 10%;

}
.btn1{
    position: relative;
    top: -5%;
    left: 5%;
    background-color: #5D58EF;
    width: 150px;
    height: 50px;
}
.stories-card>div img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-1{
    grid-row: span 2;
}
.stories{
    margin: 20px 0px;
    padding: 30px 0px 10px 0px;
    /* background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%); */
    /* background:url(../assets/bg.png),
    Linear gradient
    rgba(254, 163, 1, 0.3)
    rgba(255, 255, 255, 0.3); */
    /* box-shadow: 0px 0px 15px linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3)); */
    /* background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3)) ; */
}
.stories>h2{
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    margin: 60px auto;
}
.stories-card h2{
    font-weight: 500;
    font-size: 25px;
}
.icon{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
   gap: 20px;
}
.icon div{
    background-color:orange;
    padding: 10px;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    box-shadow:inset 0px 0px 5px black;
}
.icon div:hover{
    background-color: #05D4DF;
    box-shadow:inset 0px 0px 15px black;
}
.icon img{
    width: 60px;
    height: 60px;
}
.v-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.v-btn{
    background-color: black;
    color: white;   
    margin-top: 5vh;
    /* margin: auto; */
}
/* Fotter-Section */
.footer-dis{
    justify-content: space-between;
    align-items: center;
    background-color: #3a425f;
    padding: 2vw 9vw;
    color: white !important;
}
.footer-list ul{
    flex-direction: column;
    list-style: none;
    gap: 15px;
}
.logo-dis{
    width: 40%;
}
.footer-online-logo{
    justify-content: center;
    gap: 20px;
}
.footer-online-logo img {
    width: 50px;
    height: 50px;
}
.img-dis{
    align-items: center;
}
.img-dis h2{
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:576px) {
    nav ul li{
        display: none;
    }
    nav{
        padding-bottom: 10px;
        border-bottom: 3px solid orange;
    }
    .contact{
        display: none;
  }
  .school-logo h3{
    display: none;
  }
  .menu-logo{
    display:inline;
  }

  .menu-logo img{
    width: 60px;
    color: orange;
    filter: brightness(100%);
    height: 50px;
  }
  
  /* Hero-Section */
  .hero-section{
    flex-direction:column-reverse;
    text-align: center;
  }
  .hero-left-div{
    align-items: center;
    width: 100%;
  }
  .hero-left-div p{
    margin:1.3vw 0px;
    width: calc(100% - 2vw);
    font-size: 20px;
}
  .hero-right-div{
    width: 100%;
  }
  .hero-left-div h2{
    font-size: 8vw;
    line-height: 50px;
}
.God-div{
    padding:20px 3vw;
}
/* standard-and-Stories-Section */
.card1,.card2,.card3{
    flex-direction: column;
    width:calc( 100% - 35px - 3vw);
}

.stories-card>div .btn2, .btn3 ,.btn4,.btn5{
    
    top: -8%;
    left: 15%;

}
.standard-Curriculum{
    gap: 4vw;
    flex-direction: column;
    
}

.stories-card{
    grid-template-columns:repeat(2,calc( 50% - 4vw));
    grid-template-rows: repeat(2,1fr);
}

.icon{
    display: none;
}
.stories{
    margin: 10px 0px;
    padding: 10px 0px 30px 0px;
    background:url(../assets/bg.png);
}
.satnderd-and-stories{
    margin: 40px 0px;
    padding: 50px 0px 50px 0px;
   
}
.stories-card>div .btn2, .btn3 ,.btn4,.btn5{
   
    width: 100px;
    height: 50px;
  

}
.v-btn{
   
    margin-top: 3vh;
    /* margin: auto; */
}
.stories-card .card-1
{
    display: none;
    visibility: hidden;
}
.satnderd-and-stories{
    margin: 10px 0px;
    padding: 30px 0px 10px 0px;}

    /* Footer-Section */
    .footer-dis{
        background-color: #3a425f;
        padding: 2vw;
        padding-top: 30px;
        /* margin-top: 20px; */
        flex-direction: column;
        gap: 30px;
        }
    
    .footer-dis >div{
        width: calc(100% - 3vw);

    }
    .img-dis{
        align-items: normal;
    }
    .footer-online-logo{
        justify-content: flex-start;
    }
    .footer-logo-dis{
        padding: 1vw;
    }
    .footer-list
    {
        padding: 1.5vw;
    }
}
/* For-Tab */

@media screen and (min-width:576px) and (max-width:1100px)
{

    .hero-left-div{
        width: 50%;
    }

    .hero-left-div p{
        width:100%;
    }
    .hero-left-div h2{
        font-size: 4vw;
        line-height: 30px;
    }

    .hero-right-div {
        width: 45%;
    }

    .contact{
        display: none;
  }
  .school-logo h3{
    display: none;
  }
  .menu-logo{
    display:inline;
  }
  nav ul li{
    display: none;
}
.icon{
    display: none;
}
/* standerd-Curriculam */
.standard-Curriculum{
   flex-wrap: wrap;
}
.card1,.card2,.card3{
    width: 40%;
   
}
.stories-card{
    grid-template-columns:repeat(2,calc( 50% - 2vw));
    grid-template-rows: repeat(2,1fr);
}
.stories-card .card-1
{
    display: none;
    visibility: hidden;
}
.footer-dis{
    flex-wrap: wrap;
}
}